################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UglyClientICA/FileContentIndex
/.vs/UglyClientICA/CopilotIndices/17.12.38.29086
